.demo1 {
    width: 100px;
    height: 100px;
    background: red;
}
.demo2 {
    width: 200px;
    height: 200px;
    background: orange;
}
body{
    background-image: url("../img/1.jpg");
    background-size:cover;
}