body{
    background-image: url("../img/1.jpg");
    background-size:cover;
}
.demo1 {
    width: 100px;
    height: 100px;
    background: red;
}
.demo2 {
    width: 200px;
    height: 200px;
    background: orange;
}
.center{
    width: 100%;
    height:300px;
    border:1px solid green;
    text-align: center;
    line-height: 300px;
    font-size: 20px;
}